<f:if condition="{settings.showRepliesToComments} == 1">
	<f:if condition="{comment.replies -> f:count()} > 0">
		<ol class="comment-replies">
			<f:for each="{comment.replies}" as="reply" iteration="replyIterator">
				<li class="comment-reply{f:if(condition:'{replyIterator.isFirst}', then:' first-reply')}{f:if(condition:'{replyIterator.isLast}', then:' last-reply')}" id="{settings.commentAnchorPrefix}{reply.uid}">
					<div class="reply-inner">
						<f:render partial="Comment" arguments="{comment:reply, upvotedCommentUids:upvotedCommentUids, downvotedCommentUids:downvotedCommentUids}" />
					</div>
					<f:render partial="Comment/Replies" arguments="{comment:reply, upvotedCommentUids:upvotedCommentUids, downvotedCommentUids:downvotedCommentUids}" />
				</li>
			</f:for>
		</ol>
	</f:if>
</f:if>