{namespace c=PwCommentsTeam\PwComments\ViewHelpers}
<f:layout name="Default" />

<f:section name="main">
		<div id="{settings.showCommentAnchor}">
			<h1><f:translate key="tx_pwcomments.comments" /> ({commentCount})</h1>
			<f:if condition="{hasCustomMessages}">
				<f:flashMessages id="{settings.customMessagesAnchor}" />
			</f:if>
			<f:if condition="{f:count(subject:'{comments}')} > 0">
				<f:then>
					<ol class="comment_list list">
						<f:for each="{comments}" as="comment" iteration="commentIterator">
							<li class="comment{f:if(condition:'{commentToReplyTo.uid} == {comment.uid}', then:' replyingToThisComment')}{f:if(condition:'{commentIterator.isFirst}', then:' first-comment')}{f:if(condition:'{commentIterator.isLast}', then:' last-comment')}" id="{settings.commentAnchorPrefix}{comment.uid}">
								<div class="comment-inner">
									<f:render partial="Comment" arguments="{comment:comment, commentToReplyTo:commentToReplyTo, upvotedCommentUids:upvotedCommentUids, downvotedCommentUids:downvotedCommentUids}" />
								</div>
								<f:render partial="Comment/Replies"
										  arguments="{comment:comment, commentToReplyTo:commentToReplyTo, upvotedCommentUids:upvotedCommentUids, downvotedCommentUids:downvotedCommentUids}"/>
							</li>
						</f:for>
					</ol>
				</f:then>
				<f:else>
					<em><f:translate key="tx_pwcomments.noComments" /></em>
				</f:else>
			</f:if>
		</div>
</f:section>